/* main */
/* main -1. visual 영역 */
main {
    margin:0 auto;
}
main .visual {
    letter-spacing: -0.02em;
    height: 100vh;
    overflow: hidden;
    position:relative;
}
main .visual .txt > * {margin-bottom:30px;}
main .visual .txt {
    text-align: center; z-index:900;
    position: absolute; top:40%;
    width:100%;
}
main .visual .txt p {
    font-size:2.3rem;
    color: #fff;;
    
}
main .visual .txt h1 {
    font-size: 3.1rem;
    color:#C3E4F2; font-weight: 700;
    
}
main .visual .txt .link {
    margin-bottom: 0;
    display:flex; flex-flow: row nowrap;
    justify-content: center;
}
main .visual .txt .link a {
    /* display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center; */
    display: block;
    font-size: 1.7rem;
    background-color:rgba(195,228,242,0.5);
    padding:19px 0px;
    width:250px;
    border-radius: 15px;
    color:#fff;
    transition:background-color 0.3s ease;
}
main .visual .txt .link a:hover {
    background-color: #222;
    
}
main .visual .txt .link a:last-child {margin-left:10px;}
main .visual video {
    /* 방법3 절대크기값 */
    /* width:1920px; */
    width:100%;
    /* 화면크기 조정 시 비디오 중심축 맞추기 */
    /* 필수 조건 (중요) 비디오의 부모가 vh or px 높이 설정 준비! (절대퍼센트%는 안된다.) */
    position:absolute; left:50%;
    transform:translateX(-50%)
}
/* width 비율의 video 화면 전체 배치 시 여백해결법 */
/* 1.반응형웹 @media 특정해상도마다 비디오의 크기 설정값 변경 */
/* 2. 가장 큰 데스크탑 기준으로 너비를 100%보다 크게 설정하고 넘치게하는 방법 */
/* 3. 상대 크기가 아닌 절대 크기값(px) 크기를 설정해서 화면 해상도에 영향을 받지 않는 방법 */
main .adver_bnr {
    background:url(../images/bnr2.jpg) no-repeat;
    /* background-position-x:-200px; */
    background-size: cover;
    padding:70px 0;
    width:100%; height: 300px;
    background-color: red;
}
main .adver_bnr .txt {
    color:#fff;
    display: flex; flex-flow: column nowrap;
    align-items: flex-end;
    margin:0 auto;
    /* contents width px * */
    max-width:1200px;
}
main .adver_bnr .txt > * {
    margin:10px 0;
}
main .adver_bnr .txt p {
    font-size: 1.7rem;
}
main .adver_bnr .txt h1 {
    font-size: 3.1rem; font-weight: 700;
}
main .adver_bnr .txt .link {
    
}
main .adver_bnr .txt .link a:hover {
    background-color:#222;
}
main .adver_bnr .txt .link a {
    color:#fff; display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    border:1px solid #222;
    padding:10px 0;
    width:160px;
    border-radius: 10px;
    transition:background 0.5s ease;
}
/* 온라인 서비스 */
main #online_service {
    margin-top:50px;
    padding-top:60px;
    background: url(../images/service_bg1.jpg) no-repeat;
    background-position: right center;
    background-size: 80%;
}

main #online_service .text {
    /* margin-top:56px; */
    background-color: #fff;
    width:827px; height: 507px;
    padding: 92px 0 0 147px;
}
main #online_service .text > * {margin-bottom: 50px;}
main #online_service .text h1 {
    font-size: 2.3rem; font-weight: 700;
}
main #online_service .text p {
    line-height:35px; font-size: 1.3rem;
}
main #online_service .text .service_link:hover {
    background-color: #222; color:#fff;
}
main #online_service .text .service_link {
    font-size: 1.3rem;
    margin-bottom: 0;
    border:1px solid #222;
    padding:10px 40px; border-radius: 10px;
    color:#000;
    transition:background 0.5s ease;
}
main #shop_service {
    margin-top:50px;
    padding-top:60px;
    background: url(../images/service_bg2.jpg) no-repeat;
    background-position: left center;
    background-size: 80%;
    overflow: hidden;
}
main #shop_service .text {
    background-color: #fff;
    width:827px; height: 507px;
    padding: 75px 146px 0 193px;
    float: right;
    text-align: right;
}
main #shop_service .text h1 {font-size: 2.3rem; font-weight: 700}
main #shop_service .text p {line-height:35px; font-size: 1.3rem;}
main #shop_service .text .store_link {
    font-size: 1.3rem;
    margin-bottom: 0;
    padding:10px 40px; border-radius: 10px;
    border:1px solid #222;
    color:#000;
    transition:background 0.5s ease;
}
main #shop_service .text .store_link:hover {
    background-color: #222; color:#fff;
}
main #shop_service .text > * {margin-bottom: 50px;}