header {
    margin:0 auto;
    background-color: skyblue;
    width:calc(100% - 60px);
    height:100px;
    display:flex; flex-flow: row nowrap;
    justify-content: space-between;
}
header > * {
    
}
header h1 {
    background-color: plum;
    width:250px;
    align-self: center;
}
header h1 a {
    
}
header h1 a img {width:100%;}
header .right {
    background-color: lightseagreen;
    display: flex; flex-flow: row nowrap;
    align-items: center;
    
}
header .right > * {margin-left:20px;}
header .right a:first-child {margin-left:0;}
header .right a {}
header .right #searchFrm {
    background-color: #222; border-radius: 10px;
    width:367px; 
}
header .right #searchFrm fieldset {
    height:45px; padding:8px 13px;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .right #searchFrm fieldset input::placeholder {color:#fff;}
header .right #searchFrm fieldset input {
    background:none;
    color:#fff;
}
header .right #searchFrm fieldset #searchTxt {}
header .right #searchFrm fieldset #searchBtn {
    width:25px; height: 25px;
    background:none;
    margin
}
header .right #searchFrm fieldset #searchBtn img {}
header .right #login {}
header .right #login img {}
header .right #cart {}
header .right #cart img {}
header .right #menu {}
header .right #menu img {}
