main {
    margin: 0 auto;
    width:calc(100% - 60px);
}
main > * {margin-bottom:100px;}
/* swiper slide */
main #product_slide {margin-bottom: 116px;}
main #product_slide .swiper-wrapper {}
main #product_slide .swiper-wrapper .swiper-slide {
    /* 공통 slide 1~6 */
    width:700px; height:740px; position:relative;
}
main #product_slide .swiper-wrapper .swiper-slide .slide_txt {
    position: absolute; bottom: 50px; left: 50px;
     /* 초기 숨기기(이후 swiper 활용 서서히 나타나고 사라지기 기능추가) */
    opacity: 0; transform:translateX(50px); transition: all 1s;
}
main #product_slide .swiper-wrapper .swiper-slide .slide_txt h1 {color:#C3E4F2; line-height: 60px;}
main #product_slide .swiper-wrapper .swiper-slide .slide_txt h1 span {font-size: 3.1rem; font-weight: 700;}
main #product_slide .swiper-wrapper .swiper-slide .slide_txt h1 em {font-size: 3.1rem;}
main #product_slide .swiper-wrapper .swiper-slide .slide_txt p {
    color:#C3E4F2; font-size: 1.7rem;
    margin-top:30px;
}
main #product_slide .swiper-wrapper .slide1 {background-image: url(../images/model/model_01.jpg);}
main #product_slide .swiper-wrapper .slide2 {background-image: url(../images/model/model_02.jpg);}
main #product_slide .swiper-wrapper .slide3 {background-image: url(../images/model/model_03.jpg);}
main #product_slide .swiper-wrapper .slide4 {background-image: url(../images/model/model_04.jpg);}
main #product_slide .swiper-wrapper .slide5 {background-image: url(../images/model/model_05.jpg);}
main #product_slide .swiper-wrapper .slide6 {background-image: url(../images/model/model_06.jpg);}
/* 스와이퍼-스크롤바 디자인 */
main #product_slide .swiper-scrollbar {
    /* position:absolute 기본설정  */
    background: #222; width: 500px;
    left:50%; bottom: 15px; transform:translateX(-50%);
} /* 스크롤 배경(크기, 위치o) */
main #product_slide .swiper-scrollbar-drag {background: #C3E4F2;} /* 스크롤 막대 (크기x) */
/* 카테고리 */
main .category {
    /* background-color: lightcoral; */
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
main .category a {
    display: flex; flex-flow:column nowrap;
    text-align: center;
    margin-right: 30px;
}
main .category a img {width:170px;}
main .category a span {margin-top: 20px; font-size: 1.2rem;}
/* 상품 리스트 */
/* 상품 리스트 타이틀 */
main .product_list {}
main .product_list .top {
    /* background-color: aqua; */
    
}
main .product_list .top .title {
    border-bottom: 1px solid #000;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding-bottom: 30px;
}
main .product_list .top .title h1 {
    font-size: 2.3rem; font-weight: 700;
}
main .product_list .top .title .filter {
    align-self: flex-end;
}
main .product_list .top .title .filter a {margin-left:20px; font-size:1.2rem;}

main .product_list .btm {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding-top: 30px;
    margin-bottom:60px;
}
main .product_list .btm p {font-size:1.2rem;}
main .product_list .btm p em {font-weight: 700;}
main .product_list .btm #product_align {}
main .product_list .btm #product_align option {font-size:1.2rem;}
/* 상품 내용 */
main .product_list .container {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
main .product_list .container .con > * {margin-bottom: 20px;}
main .product_list .container .con {
    margin-right:30px;
}
main .product_list .container .con .box {
    width:300px;
    position: relative;
}
main .product_list .container .con .box a {}
main .product_list .container .con .box .item_img:hover {
    
}
main .product_list .container .con .box .item_img {
    
}
main .product_list .container .con .box .item_img img {width:300px; height:350px;}
main .product_list .container .con .box .like {position: absolute; top:10px; right:10px;}
main .product_list .container .con .box .like img {}
main .product_list .container .con .txt > * {margin-bottom: 20px;}
main .product_list .container .con .txt {}
main .product_list .container .con .txt p {}
main .product_list .container .con .txt p:nth-of-type(2) {font-size: 1.2rem; font-weight: 500;}
main .product_list .container .con .txt .color{}
main .product_list .container .con .txt .color span {
    width:20px; height:20px; 
    display: inline-block; margin-right: 2px;
    border-radius: 50%;
}
main .product_list .container .con .txt .color .black {background-color: #000;}
main .product_list .container .con .txt .color .brown {background-color: brown;}
main .product_list .container .con .txt .color .gray {background-color: gray;}
main .product_list .container .con .txt .color .lightgray {background-color: lightgray;}
main .product_list .container .con .txt .color .green {background-color: green;}
main .product_list .container .con .txt .color .red {background-color: darkred;}
main .product_list .container .con .txt .color .lightpink {background-color: lightpink;}